node_modules
dist
lib
build
coverage
__template__
packages/validationApp
packages/openapi-typescript-codegen

.eslintrc.js
husky.config.js
jest.config.js
jest.config.base.js
lint-staged.config.js
build.js