{
    "swagger": "2.0",
    "info": {
        "title": "Nintex Workflow Cloud eXtended",
        "description": "An extended set of Nintex Workflow Cloud APIs, included some non-supported ones",
        "version": "1.0.0"
    },
    "host": "us.nintex.io",
    "x-ntx-host": "{{region}}.nintex.io",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/authentication/v1/token": {
            "post": {
                "security": [],
                "description": "Retrieve authentication token",
                "operationId": "getToken",
                "x-ntx-summary": "Retrieve authentication token",
                "parameters": [{
                    "name": "options",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "type": "object",
                        "required": [
                            "client_id",
                            "client_secret",
                            "grant_type"
                        ],
                        "properties": {
                            "client_id": {
                                "type": "string"
                            },
                            "client_secret": {
                                "type": "string"
                            },
                            "grant_type": {
                                "type": "string",
                                "enum": [
                                    "client_credentials"
                                ]
                            }
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/tokenResponse"
                        }
                    },
                    "400": {
                        "description": "Failed"
                    }
                }
            }
        },
        "/designer_/api/uxappconfig/": {
            "get": {
                "description": "Get tenant configuration",
                "operationId": "getTenantConfiguration",
                "x-ntx-summary": "Get tenant configuration",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/tenantConfiguration"
                        }
                    }
                }
            }
        },
        "/designer_/api/tenant/{tenantId}": {
            "get": {
                "description": "Get tenant info",
                "operationId": "getTenantInfo",
                "x-ntx-summary": "Get tenant info",
                "parameters": [{
                    "name": "tenantId",
                    "in": "path",
                    "description": "The tenant Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/tenantInfo"
                        }
                    },
                    "400": {
                        "description": "Failed"
                    }
                }
            }
        },
        "/designer_/api/tags": {
            "get": {
                "description": "Get tenant tags",
                "operationId": "getTenantTags",
                "x-ntx-summary": "Get tenant tags",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/tagResponse"
                        }
                    },
                    "400": {
                        "description": "Failed"
                    }
                }
            }
        },
        "/workflows/v1/connectors": {
            "get": {
                "description": "Get tenant connectors",
                "operationId": "getTenantConnectors",
                "x-ntx-summary": "Get tenant connectors",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["connectors"],
                            "properties": {
                                "connectors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/connector"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workflows/v1/connections": {
            "get": {
                "description": "Get tenant connections",
                "operationId": "getTenantConnections",
                "x-ntx-summary": "Get tenant connections",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "connections": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/connection"
                                    }
                                }
                            },
                            "required": ["connections"]
                        }
                    }
                }
            }
        },
        "/designer_/api/connections/{connectionId}/schema": {
            "get": {
                "description": "Get tenant connection schema",
                "operationId": "getTenantConnectionSchema",
                "x-ntx-summary": "Get tenant connection schema",
                "parameters": [{
                    "name": "connectionId",
                    "in": "path",
                    "description": "The connection Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/connectionSchema"
                        }
                    }
                }
            }
        },
        "/designer_/datasources/get-datasource-token": {
            "get": {
                "description": "Get datasource token",
                "operationId": "getDatasourceToken",
                "x-ntx-summary": "Get datasource token",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "token": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workflows/v1/datasources": {
            "get": {
                "description": "Get tenant datasources",
                "operationId": "getTenantDatasources",
                "x-ntx-summary": "Get tenant datasources",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "datasources": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/datasource"
                                    }
                                }
                            },
                            "required": ["datasources"]
                        }
                    }
                }
            }
        },
        "/connection/api/datasources/{datasourceId}": {
            "get": {
                "description": "Get datasource",
                "operationId": "getDatasource",
                "x-ntx-summary": "Get datasource",
                "security": [{
                    "datasources": []
                }],
                "parameters": [{
                    "name": "datasourceId",
                    "in": "path",
                    "description": "Datasource Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/datasource"
                        }
                    }
                }
            }
        },
        "/connection/api/datasources": {
            "post": {
                "description": "Create datasource",
                "operationId": "createDatasource",
                "x-ntx-summary": "Create datasource",
                "security": [{
                    "datasources": []
                }],
                "parameters": [{
                    "name": "payload",
                    "in": "body",
                    "description": "Datasource payload",
                    "schema": {
                        "$ref": "#/definitions/datasourcePayload"
                    },
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/connection/api/contracts": {
            "get": {
                "description": "Get tenant contracts",
                "operationId": "getTenantContracts",
                "x-ntx-summary": "Get tenant contracts",
                "security": [{
                    "datasources": []
                }],
                "parameters": [{
                    "name": "includePublic",
                    "in": "query",
                    "description": "Include public contracts",
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/contract"
                            }
                        }
                    },
                    "400": {
                        "description": "Failed"
                    }
                }
            }
        },
        "/connection/api/v2/contracts/{contractId}": {
            "get": {
                "description": "Get tenant contract schema",
                "operationId": "getTenantContractSchema",
                "x-ntx-summary": "Get tenant contract schema",
                "security": [{
                    "datasources": []
                }],
                "parameters": [{
                    "name": "contractId",
                    "in": "path",
                    "description": "The contract Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Failed"
                    }
                }
            }
        },
        "/connection/api/v1/connections": {
            "post": {
                "description": "Create connection",
                "operationId": "createConnection",
                "x-ntx-summary": "Create connection",
                "parameters": [{
                    "name": "appId",
                    "in": "query",
                    "description": "The app id of the contract the connection is using",
                    "type": "string",
                    "required": true
                }, {
                    "name": "properties",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/workflows/v1/designs": {
            "get": {
                "description": "Get workflow designs",
                "operationId": "getWorkflowDesigns",
                "x-ntx-summary": "Get workflow designs",
                "parameters": [{
                    "name": "limit",
                    "in": "query",
                    "description": "Total number of workflow designs to retrieve",
                    "type": "number",
                    "default": 2000
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["workflows"],
                            "properties": {
                                "workflows": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/workflowDesign"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workflows/v1/designs/{workflowId}/published/export": {
            "post": {
                "description": "Export workflow",
                "operationId": "exportWorkflow",
                "x-ntx-summary": "Export workflow",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow design",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "options",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "isNonExpiring"
                            ],
                            "properties": {
                                "isNonExpiring": {
                                    "type": "boolean",
                                    "default": true
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/exportWorkflowResponse"
                        }
                    }
                }
            }
        },
        "/designer_/api/import": {
            "post": {
                "description": "Import workflow",
                "operationId": "importWorkflow",
                "x-ntx-summary": "Import workflow",
                "parameters": [{
                    "name": "options",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "type": "object",
                        "required": [
                            "name",
                            "key"
                        ],
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "key": {
                                "type": "string"
                            },
                            "overwriteExisting": {
                                "type": "boolean",
                                "default": false
                            }
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/importWorkflowResponse"
                        }
                    }
                }
            }
        },
        "/designer_/api/workflows/{workflowId}": {
            "get": {
                "description": "Get workflow",
                "operationId": "getWorkflow",
                "x-ntx-summary": "Get workflow",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/workflow"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete draft workflow",
                "operationId": "deleteDraftWorkflow",
                "x-ntx-summary": "Delete draft Wworkflow",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            },
            "put": {
                "description": "Save workflow",
                "operationId": "saveWorkflow",
                "x-ntx-summary": "Save workflow",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/updateWorkflowPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/saveWorkflowResponse"
                        }
                    }
                }
            }

        },
        "/designer_/api/workflows/{workflowId}/published": {
            "post": {
                "description": "Publish workflow",
                "operationId": "publishWorkflow",
                "x-ntx-summary": "Publish workflow",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/updateWorkflowPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/workflow"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete published workflow",
                "operationId": "deletePublishedWorkflow",
                "x-ntx-summary": "Delete published workflow",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            }
        },
        "/designer_/api/workflows/{workflowId}/published/schedule": {
            "post": {
                "description": "Schedule workflow",
                "operationId": "scheduleWorkflow",
                "x-ntx-summary": "Schedule workflow",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/updateWorkflowPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/workflow"
                        }
                    }
                }
            }
        },
        "/designer_/api/v1/workflow/{workflowId}/url": {
            "get": {
                "description": "Get workflow endpoints",
                "operationId": "getWorkflowEndpoints",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/workflowEndpoints"
                        }
                    }
                }
            }
        },
        "/designer_/api/users": {
            "get": {
                "description": "Get tenant users",
                "operationId": "getTenantUsers",
                "x-ntx-summary": "Get tenant users",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["users"],
                            "properties": {
                                "users": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/user"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/designer_/api/workflows/{workflowId}/permissions": {
            "get": {
                "description": "Get workflow owners",
                "operationId": "getWorkflowOwners",
                "x-ntx-summary": "Get workflow owners",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["permissions"],
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update workflow owners",
                "operationId": "updateWorkflowOwners",
                "x-ntx-summary": "Update workflow owners",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "permissions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            }
        },
        "/designer_/api/workflows/{workflowId}/owners/business": {
            "get": {
                "description": "Get workflow business owners",
                "operationId": "getWorkflowBusinessOwners",
                "x-ntx-summary": "Get workflow business owners",
                "parameters": [{
                    "name": "workflowId",
                    "in": "path",
                    "description": "Id of the workflow",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["businessOwners"],
                            "properties": {
                                "businessOwners": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update workflow business owners",
                "operationId": "updateWorkflowBusinessOwners",
                "x-ntx-summary": "Update workflow business owners",
                "parameters": [{
                        "name": "workflowId",
                        "in": "path",
                        "description": "Id of the workflow",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "businessOwners",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "businessOwners": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            }
        },
        "/designer_/api/connections/{connectionId}/permissions": {
            "get": {
                "description": "Get connection permissions",
                "operationId": "getConnectionPermissions",
                "x-ntx-summary": "Get connection permissions",
                "parameters": [{
                    "name": "connectionId",
                    "in": "path",
                    "description": "The connection Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "required": ["permissions"],
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update connection permissions",
                "operationId": "updateConnectionPermissions",
                "parameters": [{
                        "name": "connectionId",
                        "in": "path",
                        "description": "The connection Id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "permissions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            }
        },
        "/connection/api/datasources/{datasourceId}/permissions": {
            "get": {
                "description": "Get datasource permissions",
                "operationId": "getDatasourcePermissions",
                "security": [{
                    "datasources": []
                }],
                "parameters": [{
                    "name": "datasourceId",
                    "in": "path",
                    "description": "The datasource Id",
                    "type": "string",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update datasource permissions",
                "operationId": "updateDatasourcePermissions",
                "parameters": [{
                        "name": "datasourceId",
                        "in": "path",
                        "description": "The datasource Id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "permissions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "permissions": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/permissionItem"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    }
                }
            }
        }
    },
    "parameters": {
        "datasourceToken": {
            "name": "Authorization",
            "in": "header",
            "description": "Datasource authentication bearer token",
            "type": "string",
            "required": true
        },
        "connectionsToken": {
            "name": "Authorization",
            "in": "header",
            "description": "Connections authentication bearer token",
            "type": "string",
            "required": true
        }
    },
    "definitions": {
        "workflowEndpoints": {
            "type": "object",
            "required": [
                "id",
                "name",
                "type"
            ],
            "properties": {
                "url": {
                    "type": "string"
                },
                "endpoints": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            },
                            "headers": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "url": {
                                "type": "string"
                            },
                            "payload": {
                                "type": "string"
                            },
                            "urlToken": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "permissionItem": {
            "type": "object",
            "required": [
                "id",
                "name",
                "type"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "subtext": {
                    "type": "string"
                },
                "scope": {
                    "type": "object",
                    "properties": {
                        "own": {
                            "type": "boolean"
                        },
                        "use": {
                            "type": "boolean"
                        },
                        "owner": {
                            "type": "boolean"
                        },
                        "user": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "user": {
            "type": "object",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "first_name": {
                    "type": "string"
                },
                "last_name": {
                    "type": "string"
                },
                "vibranium_enabled": {
                    "type": "boolean"
                },
                "is_guest": {
                    "type": "boolean"
                },
                "organization_id": {
                    "type": "string"
                },
                "legacy_id": {
                    "type": "string"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tenantId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string",
                    "format": "nullable"
                },
                "lastName": {
                    "type": "string",
                    "format": "nullable"
                },
                "email": {
                    "type": "string",
                    "format": "nullable"
                },
                "nintexTenantId": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string",
                    "format": "nullable"
                }
            }
        },
        "tenantConfiguration": {
            "type": "object",
            "required": [
                "apiManagerUrl",
                "serviceRegion"
            ],
            "properties": {
                "apiManagerUrl": {
                    "type": "string"
                },
                "zincUrl": {
                    "type": "string"
                },
                "pdfFormConverterUrl": {
                    "type": "string"
                },
                "webTaggerUrl": {
                    "type": "string"
                },
                "launchDarklyKey": {
                    "type": "string"
                },
                "whiteListedConnections": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "gaTrackingCode": {
                    "type": "string"
                },
                "designerUrl": {
                    "type": "string"
                },
                "embedFormsUrl": {
                    "type": "string"
                },
                "connectionsXcomponentUrl": {
                    "type": "string"
                },
                "userManagementXcomponent": {
                    "type": "object",
                    "properties": {
                        "redirectUri": {
                            "type": "string"
                        },
                        "documentationUrl": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        }
                    }
                },
                "devTokenManagementXcomponent": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string"
                        },
                        "redirectUri": {
                            "type": "string"
                        }
                    }
                },
                "domainManagementXComponent": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string"
                        },
                        "redirectUri": {
                            "type": "string"
                        }
                    }
                },
                "appInsights": {
                    "type": "object",
                    "properties": {
                        "instrumentationKey": {
                            "type": "string"
                        },
                        "connectionString": {
                            "type": "string"
                        }
                    }
                },
                "feedbackFormEndpoint": {
                    "type": "string"
                },
                "createTicketFormEndpoint": {
                    "type": "string"
                },
                "appInsightsInstrumentationKey": {
                    "type": "string"
                },
                "cloudElementService": {
                    "type": "boolean"
                },
                "serviceRegion": {
                    "type": "string"
                },
                "boxAppUrl": {
                    "type": "string"
                },
                "allowedHawkeyeDomains": {
                    "type": "string"
                },
                "readmeIOUrl": {
                    "type": "string"
                },
                "devPortalUrls": {
                    "type": "object",
                    "properties": {
                        "queryJson": {
                            "type": "string"
                        },
                        "regex": {
                            "type": "string"
                        }
                    }
                },
                "oidc": {
                    "type": "object",
                    "properties": {
                        "domain": {
                            "type": "string"
                        },
                        "clientId": {
                            "type": "string"
                        }
                    }
                },
                "user": {
                    "$ref": "#/definitions/user"
                }
            }
        },
        "tenantInfo": {
            "type": "object",
            "required": [
                "id",
                "name",
                "organization_id",
                "tenancy_url",
                "region"
            ],

            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "organization_id": {
                    "type": "string"
                },
                "tenancy_url": {
                    "type": "string"
                },
                "created": {
                    "type": "string"
                },
                "license": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string"
                        },
                        "start": {
                            "type": "string",
                            "format": "date"
                        },
                        "end": {
                            "type": "string",
                            "format": "date"
                        },
                        "contract_id": {
                            "type": "string",
                            "format": "nullable"
                        },
                        "entitlement": {
                            "type": "string",
                            "format": "nullable"
                        }
                    }
                },
                "region": {
                    "type": "string"
                },
                "region_name": {
                    "type": "string"
                },
                "aliases": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "owner": {
                    "type": "object",
                    "properties": {
                        "email": {
                            "type": "string"
                        },
                        "first_name": {
                            "type": "string"
                        },
                        "last_name": {
                            "type": "string"
                        }
                    }
                },
                "source": {
                    "type": "string"
                },
                "contract_id": {
                    "type": "string",
                    "format": "nullable"
                }
            }
        },
        "tokenResponse": {
            "type": "object",
            "required": [
                "access_token"
            ],
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "scope": {
                    "type": "string"
                },
                "expires_in": {
                    "type": "integer",
                    "format": "int32"
                },
                "expires_at": {
                    "type": "string",
                    "format": "date"
                },
                "token_type": {
                    "type": "string"
                }
            }
        },
        "tagResponse": {
            "type": "object",
            "required": [
                "success",
                "resource"
            ],
            "properties": {
                "success": {
                    "type": "boolean"
                },
                "resource": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/tag"
                    }
                }
            }
        },
        "tag": {
            "type": "object",
            "required": [
                "name",
                "count",
                "colorIndex"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "colorIndex": {
                    "type": "number"
                },
                "count": {
                    "type": "number"
                },
                "kind": {
                    "type": "string"
                }
            }
        },
        "connectionSchemaProperty": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string"
                },
                "x-ntx-initial": {
                    "type": "string"
                },
                "x-ntx-emit-undefined": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "default": {
                    "type": "string"
                },
                "format": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            },
            "required": [
                "title",
                "default",
                "type"
            ]
        },
        "connectionSchema": {
            "type": "object",
            "required": [
                "title",
                "type",
                "properties"
            ],
            "properties": {
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "$ref": "#/definitions/connectionSchemaProperty"
                    }
                },
                "required": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "ownership": {
                    "type": "boolean"
                }
            }
        },
        "actionDefinition": {
            "type": "object",
            "additionalProperties": true,
            "required": [
                "type",
                "name",
                "enabled"
            ],
            "properties": {
                "type": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                }
            }
        },
        "connector": {
            "required": [
                "id",
                "name",
                "enabled"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "events": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/actionDefinition"
                    }
                },
                "actions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/actionDefinition"
                    }
                }
            }
        },
        "connection": {
            "type": "object",
            "required": [
                "id",
                "displayName",
                "contractName",
                "contractId"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "isInvalid": {
                    "type": "boolean"
                },
                "createdDate": {
                    "type": "string"
                },
                "contractName": {
                    "type": "string"
                },
                "contractId": {
                    "type": "string"
                },
                "createdByUserId": {
                    "type": "string"
                },
                "ownership": {
                    "type": "boolean"
                }
            }
        },
        "datasourcePayload": {
            "type": "object",
            "required": [
                "name",
                "description",
                "operationId",
                "contractId",
                "connectionId",
                "definition"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "contractId": {
                    "type": "string"
                },
                "operationId": {
                    "type": "string"
                },
                "connectionId": {
                    "type": "string"
                },
                "definition": {
                    "type": "string"
                }
            }
        },
        "datasource": {
            "type": "object",
            "required": [
                "id",
                "name",
                "contractId",
                "connectionId",
                "operationId",
                "description",
                "definition"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "contractId": {
                    "type": "string"
                },
                "operationId": {
                    "type": "string"
                },
                "connectionId": {
                    "type": "string"
                },
                "createdByUserId": {
                    "type": "string"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date"
                },
                "modifiedByUserId": {
                    "type": "string"
                },
                "modifiedDate": {
                    "type": "string",
                    "format": "date"
                },
                "isInvalid": {
                    "type": "boolean"
                },
                "isEditable": {
                    "type": "boolean"
                },
                "definition": {
                    "type": "string"
                }
            }
        },
        "contract": {
            "type": "object",
            "required": [
                "id",
                "name",
                "appId"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "appId": {
                    "type": "string"
                },
                "createdByUserId": {
                    "type": "string"
                },
                "timeStamp": {
                    "type": "string"
                },
                "createdDate": {
                    "type": "string"
                },
                "icon": {
                    "type": "string"
                },
                "operations": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "operationId": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            },
                            "apps": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "allowedHosts": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "latestVersion": {
                    "type": "string"
                },
                "latestScheme": {
                    "type": "string"
                }
            }
        },
        "eventType": {
            "type": "object",
            "required": [
                "id",
                "name"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "eventConfiguration": {
            "type": "array",
            "items": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "value": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "urls": {
            "type": "object",
            "properties": {
                "designerUrl": {
                    "type": "string"
                },
                "formUrl": {
                    "type": "string"
                }
            }
        },
        "workflowDetails": {
            "type": "object",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "author": {
                    "$ref": "#/definitions/user"
                },
                "description": {
                    "type": "string"
                },
                "created": {
                    "type": "string"
                },
                "eventType": {
                    "$ref": "#/definitions/eventType"
                },
                "eventConfiguration": {
                    "$ref": "#/definitions/eventConfiguration"
                },
                "urls": {
                    "$ref": "#/definitions/urls"
                }
            }
        },
        "draftWorkflowDetails": {
            "allOf": [{
                    "$ref": "#/definitions/workflowDetails"
                },
                {
                    "type": "object",
                    "properties": {
                        "lastModified": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "publishedWorkflowDetails": {
            "allOf": [{
                    "$ref": "#/definitions/workflowDetails"
                },
                {
                    "type": "object",
                    "required": [
                        "publishedType",
                        "isActive"
                    ],
                    "properties": {
                        "publishedType": {
                            "type": "string",
                            "enum": [
                                "Production",
                                "Development"
                            ]
                        },
                        "isActive": {
                            "type": "boolean"
                        },
                        "lastPublished": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "businessOwner": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "workflowDesign": {
            "type": "object",
            "required": [
                "id",
                "name",
                "engine",
                "businessOwners"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "draft": {
                    "$ref": "#/definitions/draftWorkflowDetails"
                },
                "published": {
                    "$ref": "#/definitions/publishedWorkflowDetails"
                },
                "lastModified": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "businessOwners": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/permissionItem"
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {}
                },
                "engine": {
                    "type": "string"
                },
                "publishRequestedBy": {
                    "type": "string",
                    "format": "nullable"
                }
            }
        },
        "startData": {
            "type": "array",
            "items": {
                "type": "object",
                "required": [
                    "name",
                    "type"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "variable": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    }
                }
            }
        },
        "exportWorkflowResponse": {
            "type": "object",
            "required": [
                "key"
            ],
            "properties": {
                "key": {
                    "type": "string"
                },
                "expiryDate": {
                    "type": "string",
                    "format": "nullable"
                }
            }
        },
        "importWorkflowResponse": {
            "type": "object",
            "required": [
                "workflowId",
                "isActive",
                "isPublished",
                "isDeleted",
                "workflowName",
                "workflowType",
                "status"
            ],
            "properties": {
                "workflowId": {
                    "type": "object",
                    "properties": {
                        "workflowId": {
                            "type": "string"
                        },
                        "workflowDesignVersion": {
                            "type": "string"
                        }
                    }
                },
                "isActive": {
                    "type": "boolean"
                },
                "author": {
                    "$ref": "#/definitions/user"
                },
                "eventType": {
                    "type": "string"
                },
                "isPublished": {
                    "type": "boolean"
                },
                "created": {
                    "type": "string",
                    "format": "date-time"
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "lastModified": {
                    "type": "string",
                    "format": "date-time"
                },
                "workflowDescription": {
                    "type": "string"
                },
                "workflowName": {
                    "type": "string"
                },
                "publishAuthor": {
                    "$ref": "#/definitions/user"
                },
                "publishedId": {
                    "type": "string"
                },
                "lastPublished": {
                    "type": "string",
                    "format": "date-time"
                },
                "workflowType": {
                    "type": "string"
                },
                "saveAuthor": {
                    "$ref": "#/definitions/user"
                },
                "lastEdited": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "saveWorkflowResponse": {
            "type": "object",
            "required": [
                "workflowId",
                "workflowDesignVersion"
            ],
            "properties": {
                "workflowId": {
                    "type": "string"
                },
                "workflowDesignVersion": {
                    "type": "string"
                }
            }
        },
        "updateWorkflowPayload": {
            "type": "object",
            "required": [
                "datasources",
                "engineName",
                "permissions",
                "workflowName"
            ],
            "properties": {
                "author": {
                    "$ref": "#/definitions/user"
                },
                "businessOwners": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/permissionItem"
                    }
                },
                "datasources": {
                    "type": "string"
                },
                "engineName": {
                    "type": "string"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/permissionItem"
                    }
                },
                "startEvents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/workflowStartEvent"
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/tag"
                    }
                },
                "version": {
                    "type": "integer",
                    "format": "int32"
                },
                "workflowDefinition": {
                    "type": "string"
                },
                "workflowDescription": {
                    "type": "string"
                },
                "workflowDesignParentVersion": {
                    "type": "string"
                },
                "workflowName": {
                    "type": "string"
                },
                "workflowType": {
                    "type": "string"
                },
                "workflowVersionComments": {
                    "type": "string"
                },
                "scheduledstart": {
                    "$ref": "#/definitions/workflowEndpoints"
                }
            }
        },
        "workflowStartEvent": {
            "type": "object",
            "required": [
                "eventType"
            ],
            "properties": {
                "eventGroup": {
                    "type": "string"
                },
                "eventType": {
                    "type": "string"
                },
                "eventTypeOption": {
                    "type": "string"
                },
                "eventTypeDisplayName": {
                    "type": "string"
                },
                "configuration": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "nativeEventConfiguration": {
                    "type": "string",
                    "format": "nullable"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "xtensionEventConfiguration": {
                    "type": "string",
                    "format": "nullable"
                },
                "transformation": {
                    "type": "string",
                    "format": "nullable"
                },
                "webformDefinition": {
                    "type": "string",
                    "format": "nullable"
                },
                "webformVersion": {
                    "type": "string",
                    "format": "nullable"
                },
                "metadataConfiguration": {
                    "type": "string"
                },
                "formMetadata": {
                    "type": "object",
                    "properties": {
                        "publishToUrlOnly": {
                            "type": "boolean"
                        },
                        "publishToAllOrg": {
                            "type": "boolean"
                        },
                        "participantVisible": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "workflow": {
            "type": "object",
            "required": [
                "workflowId",
                "isActive",
                "isPublished",
                "engineName",
                "isDeleted",
                "latestId",
                "status",
                "version",
                "workflowName",
                "workflowType",
                "workflowDefinition"
            ],
            "properties": {
                "workflowId": {
                    "type": "string"
                },
                "isActive": {
                    "type": "boolean"
                },
                "author": {
                    "$ref": "#/definitions/user"
                },
                "eventType": {
                    "type": "string"
                },
                "isPublished": {
                    "type": "boolean"
                },
                "created": {
                    "type": "string",
                    "format": "date-time"
                },
                "creator": {
                    "$ref": "#/definitions/user"
                },
                "datasources": {
                    "type": "string"
                },
                "engineName": {
                    "type": "string"
                },
                "eventConfiguration": {
                    "type": "string"
                },
                "hasPermissions": {
                    "type": "boolean"
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "lastEdited": {
                    "type": "string",
                    "format": "date-time"
                },
                "lastModified": {
                    "type": "string",
                    "format": "date-time"
                },
                "lastPublished": {
                    "type": "string",
                    "format": "date-time"
                },
                "latestId": {
                    "type": "string"
                },
                "publishedId": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "version": {
                    "type": "integer",
                    "format": "int32"
                },
                "workflowDescription": {
                    "type": "string"
                },
                "workflowName": {
                    "type": "string"
                },
                "workflowVersionComments": {
                    "type": "string"
                },
                "publishAuthor": {
                    "$ref": "#/definitions/user"
                },
                "workflowType": {
                    "type": "string"
                },
                "workflowDefinition": {
                    "type": "string"
                },
                "startEvents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/workflowStartEvent"
                    }
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/permissionItem"
                    }
                },
                "workflowDesignVersion": {
                    "type": "string"
                },
                "isLatest": {
                    "type": "boolean"
                },
                "publishRequestedBy": {
                    "$ref": "#/definitions/user"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/tag"
                    }
                }
            }
        },
        "xtensionInfo": {
            "type": "object",
            "required": [
                "type"
            ],
            "properties": {
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "dataType": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "version": {
                    "type": "number"
                },
                "subType": {
                    "type": "string"
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "title": {
                            "type": "string"
                        },
                        "type": {
                            "type": "string"
                        },
                        "properties": {}
                    },
                    "required": [
                        "title",
                        "type",
                        "properties"
                    ],
                    "additionalProperties": false
                }
            },
            "required": [
                "name",
                "version"
            ],
            "additionalProperties": false
        },
        "actionConstraint": {
            "type": "object",
            "properties": {
                "constraintType": {
                    "$ref": "#/definitions/dataType"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "field": {
                            "type": "string"
                        },
                        "filterType": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "choices": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "required": [
                        "field"
                    ],
                    "additionalProperties": false
                }
            },
            "required": [
                "constraintType",
                "data"
            ],
            "additionalProperties": false
        },
        "formatValue": {
            "type": "object",
            "properties": {
                "variable": {
                    "type": "object",
                    "properties": {
                        "valueType": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/valueData"
                                }
                            },
                            "required": [
                                "data"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "required": [
                        "valueType"
                    ],
                    "additionalProperties": false
                }
            },
            "required": [
                "variable"
            ],
            "additionalProperties": false
        },
        "valueData": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                },
                "valuePath": {
                    "type": "string"
                }
            },
            "required": [
                "name",
                "value"
            ],
            "additionalProperties": false
        },
        "valueType": {
            "type": "object",
            "properties": {
                "type": {
                    "$ref": "#/definitions/dataType"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "value": {}
                    },
                    "required": [
                        "value"
                    ],
                    "additionalProperties": false
                },
                "validators": {
                    "type": "array",
                    "items": {}
                }
            },
            "required": [
                "type",
                "data",
                "validators"
            ],
            "additionalProperties": false
        },
        "settings": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "author": {
                    "$ref": "#/definitions/user"
                },
                "_metaData": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "datasources": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object",
                        "properties": {
                            "sources": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "sources",
                            "type"
                        ],
                        "additionalProperties": false
                    }
                },
                "overwriteExistingWorkflow": {
                    "type": "boolean"
                },
                "isPublishing": {
                    "type": "boolean"
                },
                "isActive": {
                    "type": "boolean"
                },
                "workflowMetaData": {
                    "type": "object",
                    "properties": {
                        "lastModified": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "lastPublished": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "isMigrated": {
                            "type": "boolean"
                        },
                        "isDeactivatedInO365": {
                            "type": "boolean"
                        },
                        "workflowName": {
                            "type": "string"
                        },
                        "workflowDesignVersion": {
                            "type": "string"
                        },
                        "tags": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "required": [
                "id",
                "title",
                "description",
                "type",
                "author",
                "_metaData",
                "datasources",
                "overwriteExistingWorkflow",
                "isPublishing",
                "isActive"
            ],
            "additionalProperties": false
        },
        "xtension": {
            "type": "object",
            "properties": {
                "swagger": {
                    "type": "string"
                },
                "info": {
                    "$ref": "#/definitions/xtensionInfo"
                },
                "host": {
                    "type": "string"
                },
                "basePath": {
                    "type": "string"
                },
                "schemes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "produces": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "paths": {
                    "type": "object"
                },
                "definitions": {
                    "type": "object"
                },
                "parameters": {},
                "responses": {},
                "securityDefinitions": {
                    "type": "object"
                },
                "security": {
                    "type": "array",
                    "items": {}
                },
                "x-ntx-render-version": {
                    "type": "number"
                },
                "x-ntx-host": {
                    "type": "string"
                },
                "x-ntx-contract-id": {
                    "type": "string"
                },
                "x-ntx-xtension-id": {
                    "type": "string"
                },
                "x-ntx-xtension-app-id": {
                    "type": "string"
                }
            },
            "required": [
                "swagger",
                "info",
                "host",
                "basePath",
                "schemes",
                "produces",
                "paths",
                "definitions",
                "parameters",
                "responses",
                "securityDefinitions",
                "security"
            ],
            "additionalProperties": false
        },
        "xtensionUsage": {
            "type": "object",
            "properties": {
                "xtension": {
                    "$ref": "#/definitions/xtension"
                },
                "usedByActionIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "usedByEventIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "required": [
                "xtension",
                "usedByActionIds",
                "usedByEventIds"
            ],
            "additionalProperties": false
        },
        "parameter": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "required": {
                    "type": "boolean"
                },
                "dataType": {
                    "$ref": "#/definitions/dataType"
                },
                "constraints": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/actionConstraint"
                    }
                },
                "direction": {
                    "type": "string"
                },
                "properties": {},
                "value": {
                    "type": "object",
                    "properties": {
                        "primitiveValue": {

                            "type": "object",
                            "properties": {
                                "valueType": {
                                    "$ref": "#/definitions/valueType"
                                },
                                "formatValues": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/formatValue"
                                    }
                                }
                            },
                            "required": [
                                "valueType",
                                "formatValues"
                            ],
                            "additionalProperties": false
                        },
                        "variable": {
                            "type": "object",
                            "properties": {
                                "valueType": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "valueType"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "required": [
                        "primitiveValue",
                        "variable"
                    ],
                    "additionalProperties": false
                },
                "placeholder": {
                    "type": "string"
                },
                "valueType": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                },
                "originalRequired": {
                    "type": "boolean"
                },
                "helpText": {
                    "type": "string"
                },
                "designerType": {
                    "type": "string"
                },
                "dependentOn": {
                    "type": "string"
                },
                "defaultValue": {},
                "renderData": {}
            },
            "required": [
                "name",
                "label",
                "description",
                "required",
                "dataType",
                "constraints",
                "direction",
                "properties",
                "value",
                "placeholder"
            ],
            "additionalProperties": false
        },
        "variable": {
            "type": "object",
            "properties": {
                "source": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "dataType": {
                    "$ref": "#/definitions/dataType"
                },
                "schema": {},
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "dataType": {
                                "$ref": "#/definitions/dataType"
                            },
                            "name": {
                                "type": "string"
                            },
                            "rawName": {
                                "type": "string"
                            },
                            "displayName": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "dataType",
                            "name",
                            "rawName",
                            "displayName"
                        ],
                        "additionalProperties": false
                    }
                },
                "scopeId": {
                    "type": "string"
                },
                "outputId": {
                    "type": "string"
                },
                "usedInActions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }

                },
                "isInUse": {
                    "type": "boolean"
                },
                "isUsedInActions": {
                    "type": "boolean"
                },
                "configuration": {
                    "type": "object",
                    "properties": {
                        "description": {
                            "type": "string"
                        },
                        "defaultValue": {
                            "type": "string"
                        }
                    },
                    "required": [
                        "defaultValue"
                    ],
                    "additionalProperties": false
                },
                "output": {
                    "type": "boolean"
                },
                "initiate": {
                    "type": "boolean"
                },
                "isHidden": {
                    "type": "boolean"
                },
                "x-ntx-flagged": {
                    "type": "boolean"
                }
            },
            "required": [
                "source",
                "name",
                "displayName",
                "dataType",
                "usedInActions",
                "isInUse",
                "isUsedInActions",
                "x-ntx-flagged"
            ],
            "additionalProperties": false
        },
        "property": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "parameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/parameter"
                    }
                }
            },
            "required": [
                "id",
                "displayName",
                "parameters"
            ],
            "additionalProperties": false
        },
        "actionConfiguration": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "originalName": {
                    "type": "string"
                },
                "subHeader": {},
                "image": {},
                "serverInfo": {
                    "type": "object",
                    "properties": {
                        "className": {
                            "type": "string"
                        }
                    },
                    "required": [
                        "className"
                    ],
                    "additionalProperties": false
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/property"
                    }
                },
                "stateConfiguration": {},
                "isDisabled": {
                    "type": "boolean"
                },
                "operationId": {
                    "type": "string"
                },
                "xtensionId": {
                    "type": "string"
                },
                "xtension": {
                    "type": "object",
                    "properties": {
                        "operationId": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "isAsyncAction": {
                            "type": "boolean"
                        },
                        "engineVersion": {
                            "type": "number"
                        }
                    },
                    "required": [
                        "operationId",
                        "id",
                        "isAsyncAction",
                        "engineVersion"
                    ],
                    "additionalProperties": false
                },
                "actionConstraint": {
                    "$ref": "#/definitions/actionConstraint"
                },
                "constraints": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/actionConstraint"
                    }
                },
                "isHidden": {
                    "type": "boolean"
                },
                "isHiddenInToolbox": {
                    "type": "boolean"
                },
                "isPublishable": {
                    "type": "boolean"
                },
                "isCollapsed": {
                    "type": "boolean"
                }
            },
            "required": [
                "id",
                "name",
                "originalName",
                "image",
                "serverInfo",
                "properties",
                "isDisabled",
                "constraints"
            ],
            "additionalProperties": false
        },
        "action": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "configuration": {
                    "$ref": "#/definitions/actionConfiguration"
                },
                "className": {
                    "type": "string"
                },
                "renderOptions": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string"
                        },
                        "branchMenuCommands": {}
                    },
                    "required": [
                        "type",
                        "branchMenuCommands"
                    ],
                    "additionalProperties": false
                },
                "requiredZone": {},
                "invalidZone": {},
                "requiredZoneErrorMessage": {},
                "definesZone": {},
                "_metaData": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "children": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/action"
                    }
                },
                "next": {
                    "$ref": "#/definitions/action"
                },
                "previous": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                }
            },
            "required": [
                "id",
                "configuration",
                "className",
                "renderOptions",
                "requiredZone",
                "invalidZone",
                "requiredZoneErrorMessage",
                "definesZone",
                "children",
                "next",
                "previous",
                "parent"
            ],
            "additionalProperties": false
        },
        "workflowDefinition": {
            "type": "object",
            "properties": {
                "state": {
                    "type": "object",
                    "properties": {
                        "modified": {
                            "type": "boolean"
                        }
                    },
                    "required": [
                        "modified"
                    ],
                    "additionalProperties": false
                },
                "settings": {
                    "$ref": "#/definitions/settings"
                },
                "variables": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/variable"
                    }
                },
[...]
